.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  font-weight: bold
}

.stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 540px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 24;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 32px
}

.thumbnail {
  background-color: lightblue;
  color: #1871CD;
  

  &:hover {
    background-color: #1871CD;
    color: white;
  }
}

.button {
  text-transform: unset !important
}